/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

section img{
  width: 100%;
  margin-bottom: 20px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.item {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 10px;
}

.group-about{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 5px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 45px;
  color: #fff;
}

ul{
  padding-inline-start: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px 0 10px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

header div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 150px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 0;
  }

  img{
    width: 100%;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
  }


  .item {
    flex: 1;
    margin: 10px;
    width: 100%;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }
}